body {
    display: block;
}

.topBar{
    width: 100%;
    height: 50px;
    background-color: red;
}

.canvasBox{
    width: 100%;
    height: 500px;
    background-color: green;
}

canvas{
    border: solid 1px black;
    background-color: #f0eeeb;
}